{% extends "base_logged_in.html" %}

{% block content %}

<section class="courses-section">

    <!-- Search form -->
    <div class="container-fluid search-form">
        <div class="col-search-form">
            <p class="text-center heading-text">Find a course</p>
            <form class="form-inline active-cyan-3 active-cyan-4" style="width: 80%">
                <i class="fas fa-search" aria-hidden="true"></i>
                <input class="form-control form-control-lg w-100" type="text" placeholder="Search" aria-label="Search">
            </form>
        </div>
    </div>

    <!--Google map-->
    <div class="container-fluid" style="height: 70%; padding-bottom: 50px">
        <div class="card-body card-body-cascade text-center" style="height: 100%; padding-bottom: 0">
            <div id="map-container-google-2" class="z-depth-1-half map-container">
                <iframe src="https://www.google.com/maps/d/embed?mid=1BKnIaG_SE17mmhzPZcj_ZUvZ7Oo" width="640" height="480"></iframe>
            </div>
        </div>
    </div>

</section>


{% endblock %}