{% extends "layout.html" %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='/css/courses.css')}}"/>
{% endblock %}

{% block content %}
<button class="hide-on-large" id="map-button" type="button" onclick="toggleMap()">
<h6 id="toggle-map-text">Toggle Map
<img src="{{ url_for('static', filename='/assets/img/04_maps.png') }}" style="margin: auto" width="40px" height="30px">
</h6>
</button>

<div id="courses-page">
    <!-- Search form -->
    <div id="courses-container">
        <div id="courses-search">
            <input id="courses-search-input" type="text" placeholder="Search">
            <div id="help-text">
                <span style="color: white">*You can't get a rating on a course that has less than 50 logged rounds. Click on a pin on the map to get information about the course.</span>

            </div>
        </div>
        <div id="courses-list">
        </div>
    </div>
    <!--Google map-->
    <div id="map-container" class="hide-on-small">
        <div id="map-frame">
            <iframe src="https://www.google.com/maps/d/embed?mid=1RSNpkC9B1obQtxhlzwhrNJX3trMBLBw8" width="100%" height="98.5%"></iframe>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
<script>
var all_courses = {{ all_courses|safe }}
all_courses.sort((a, b) => {a[0].toUpperCase();b[0].toUpperCase();return a[0] > b[0] ? 1 : a[0] < b[0] ? -1 : 0;});
var favorites;
/* lazy solution for not being able to use jinja2 in the js file */
var bookmark_filled = "{{ url_for('static', filename='/assets/img/star_filled.svg') }}"
var bookmark_empty = "{{ url_for('static', filename='/assets/img/star_empty.svg') }}"
var checkmark = "{{ url_for('static', filename='/assets/img/checkmark.svg') }}"
var anon;
{% if current_user.is_anonymous %}
    anon = true;
{% else %}
    anon = false;
{% endif %}
</script>
<script src="{{ url_for('static', filename='/js/courses.js') }}"></script>
{% endblock %}