{% extends "layout.html" %}

{% block content %}
<section class="scorecard">

    <!--Search course & friends-->
    <div class="container h20 w100 center-content">
        <div class="col-search-form">
            <form class="form-inline active-cyan-3 active-cyan-4 center-content" autocomplete="off" style="width: 100%; max-width: 500px">
                <div class=autocomplete aria-hidden="true" style="width: 100%">
                    <input class="form-control form-control-m w-100" style="background-color: white; margin-bottom: 10px" id="course_search" type="text" placeholder="Search course" aria-label="Search">
                </div>
            </form>

            <div class="container-fluid autocomplete" style="padding: 0; display: flex; justify-content: center; max-width: 500px; width: 100%;">
                <input class="form-control form-control-m w-100" style="background-color: white" autocomplete="off" type="text" placeholder="Search player" id="player_search" aria-label="Search">
                <a class="btn btn-darkmint btn-m w-30 button-text" onclick="get_player()" style="margin-left: 10px" role="button">Add player</a>
            </div>
        </div>
    </div>

    <!--Show course & friends-->
    <div class="container h60 w100 center-content">
        <!--Course-->
        <div class="container-text" style="height: 15vh; justify-content: center">
            <div class="small-text font-weight-bold" id="Course">No course selected</div>
        </div>
        <!--Players-->
        <div class="col-10 center-content-v" id="player_content_div" style="height: 85vh">
            <div class="player-text" id="{{current_user.user_name}}">Player 1: {{current_user.user_name}}</div>
        </div>
    </div>

    <!--Create Scorecard-->
    <div class="container h20 w100 center-content-h">
        <div class="container w-50">
            <a class="btn btn-darkmint btn-lg w-100 button-text" name="form" onclick="create_scorecard()" style="margin-top: 30px" role="button">Let's play!</a>
        </div>
    </div>
</section>


    <!--JS source-->
    <script>let all_courses = {{ all_courses|tojson|safe }}; let friends = {{friends|tojson|safe}};
    </script>
    <script src="{{ url_for('static', filename='/js/create_scorecard.js') }}"></script>
    <script>autocomplete(document.getElementById("course_search"), all_courses, course=true);
     autocomplete(document.getElementById("player_search"),friends);
    </script>

{% endblock %}
