{% extends "layout.html" %}

{% block title %}
Welcome page
{% endblock %}

{% block content %}
    <section class="welcome-page">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-8" align="center" style="padding-top: 200px">
                    <div id="box" class="menu-box">
                        <a class="btn btn-blue btn-lg score_buttons" style="margin: 10px" href="#" id="button" role="button">Login</a>
                            <div class="show-login" id="show-login" style="visibility: hidden; max-height: 1px">
                                <form action="" method="POST" id="form">
                                    {{ form.csrf_token }}
                                    {{ form.username }}
                                    {{ form.password }}
                                    {{ form.submit }}
                                </form>
                            </div>
                        <a class="btn btn-blue btn-lg score_buttons" style="margin: 10px" href="{{ url_for("logged_out.signup") }}" role="button">Sign-up</a>
                    </div>
                </div>
            </div>
        </div>
</section>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="row justify-content-center">
            <h1 class="display-4" style="text-align: center">Welcome to the Discgolf Rating system</h1>
            <div id="about-text" style="color: #6e6e6e; text-align: center">
                <h4>This is a site for you who want to play Disc Golf with a rating
                    sign up add a friend and start playing
                </h4>
            </div>

        </div>
    </div>
</div>

{% endblock %}

{% block javascript %}
    <script>
        function show_login() {

            let login = document.getElementById("show-login")
            let button = document.getElementById('button')

            if (login.style.visibility === "hidden") {
                login.style.visibility = "visible"
                login.style.maxHeight = "500px"
                login.style.opacity = "1"
                button.innerText = 'Close'
            }
            else {
                login.style.visibility = "hidden"
                login.style.maxHeight = "1px"
                login.style.opacity = "0"
                button.innerText = 'Login'
            }

        }

        document.getElementById("button").addEventListener("click", show_login)

    </script>
{% endblock %}