{% extends "base_logged_in.html" %}
{% block css %}
<link rel="stylesheet" type="text/css" href="../static/css/profile_page.css"/>
{% endblock %}
{% block content %}




<section class="profile-page">

 <!--       <div class="container">
            <div class="collapse navbar-collapse">
                Keeps the icon bar in place
                <div class="dropdown-menu dropdown-with-icons">
                </div>
            </div>
        </div> -->
        <div class="p-content">
            <div class="container profile">
                <div class="row">
	                <div class="col-md-6 ml-auto mr-auto">
        	           <div class="profile">
                           <!--Profile picture-->
	                        <div class="avatar">
	                            <img src="../static/assets/img/dog.jpg" alt="Circle Image" class="img-raised rounded-circle img-fluid">
                            </div>
                            <!--Name on player-->
	                        <div class="name center-content-h" style="height: 35px;" >
                                {% if visited_profile._id|string not in current_user.friends|string and visited_profile.user_name != current_user.user_name %}
                                    <div style="width: 35px">
                                        <input type="image" class="post add_friend" id="img1" src="../static/assets/img/add_friend.png" style="height: 100%; padding: 0; "/>
                                    </div>
                                {% endif %}
	                            <h3 class="title">{{ visited_profile.user_name }}</h3>
	                        </div>
	                    </div>
    	            </div>
                </div>
                <!--Descprition player-->
                <div class="description text-center">
                    <p> Disc golf playing dog. </p>
                </div>
                <!--Row for tablink (settings, friends, fav course)-->
				<div class="row" style="display: -ms-flexbox;">
					<div class="col-sm-12 ml-auto mr-auto">
                        <div class="profile-tabs">
                          <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist" >
							  <li class="nav-item">
                                <a class="nav-link active" data-target="#my_stats" role="tab" data-toggle="tab" onclick="show_tab('my_stats')" >
                                  <i class="material-icons"><img src="../static/assets/img/baseline_insights_black_24dp.png" ></i>
                                    My Stats
                                </a>
                            </li>
                              {% if visited_profile.user_name == current_user.user_name %}

                            <li class="nav-item">
                                <a class="nav-link" data-target="#settings" role="tab" data-toggle="tab" onclick="show_tab('settings')" >
                                  <i class="material-icons"><img src="../static/assets/img/baseline_settings_black_24dp.png"> </i>
                                  Settings
                                </a>
                            </li>
                            {% endif %}
                            <li class="nav-item">
                                <a class="nav-link" data-target="#friends" role="tab" data-toggle="tab" onclick="show_tab('friends')" >
                                  <i class="material-icons"><img src="../static/assets/img/baseline_people_alt_black_24dp.png" id="friend_logo_image" style="height: 48px;"></i>
                                    Friends
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-target="#favorite_coruses" role="tab" data-toggle="tab" onclick="show_tab('favorite_courses')" >
                                  <i class="material-icons"><img src="../static/assets/img/baseline_favorite_black_24dp.png"></i>
                                    Favorite Courses
                                </a>
                            </li>
                          </ul>
                        </div>
    	    	</div>
            </div>
                <div class="tab-content tab-space" id="profile_content">
			  <!--Put content when pressed my_stats-->
			  <div class="tab-pane active text-center gallery" id="my_stats" style="padding-top: 20px;">
                      <div class="container-fluid">
                    <!-- Example row of columns -->
                    <div class="row">
                        <figure class="highcharts-figure" style="width: 100vw;">
                            <div id="container">

                            </div>
                        </figure>
                    </div>
                </div>
                  <div class="cont w100 center-content-h" style="margin-bottom: 2.5rem">
                      <div class="cont" style="width: 33%">
                          <button class="rounds" value="5">5</button>
                      </div>
                      <div class="cont" style="width: 33%">
                          <button class="rounds" value="20">20</button>
                      </div>
                      <div class="cont" style="width: 33%">
                          <button class="rounds" value="50">50</button>
                      </div>
                  </div>
      			</div>

				  <!--Put content when pressed settings-->
             {% if visited_profile.user_name == current_user.user_name %}
            <div class="tab-pane text-center gallery" id="settings"style="display: none" >
                <form role="form">
			    			<div class="row row_names ">
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
			                <input type="text" name="first_name" id="first_name" class="form-control input-sm" placeholder="New First Name">
			    					</div>
			    				</div>
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
			    						<input type="text" name="last_name" id="last_name" class="form-control input-sm" placeholder="New Last Name">
			    					</div>
			    				</div>
			    			</div>

			    			<div class="form-group mail_bar">
			    				<input type="email" name="email" id="email" class="form-control input-sm" placeholder="New Email Address">
			    			</div>

			    			<div class="row row_password">
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
			    						<input type="password" name="password" id="password" class="form-control input-sm" placeholder="New Password">
			    					</div>
			    				</div>
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
			    						<input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-sm" placeholder="Confirm New Password">
			    					</div>
			    				</div>
			    			</div>

			    			<input type="submit" value="Save changes" class="btn btn-info">
			    		</form>
            </div>
                {% endif %}
            <!--Put content when pressed friends-->
            <div class="tab-pane text-center gallery" id="friends" >
                {% if visited_profile.user_name == current_user.user_name %}
                <div class="col-search-form">
                    <form class="form-inline active-cyan-3 active-cyan-4 center-content" autocomplete="off" style="width: 100%; max-width: 500px">
                        <div class=autocomplete aria-hidden="true" style="width: 100%">
                            <input class="form-control form-control-m w-100" id="user_search" type="text" placeholder="Search Players" aria-label="Search" style="margin-bottom: 10px;">
                        </div>
                    </form>
                </div>
                    {% endif %}
      			<div class="row" id="friends_id">



              </div>
            </div>
            <!--Put content when pressed favorite course-->
            <div class="tab-pane text-center gallery" id="favorite_courses">
                <p>Gå till courses för att lägga till bana</p>
                <div id="favorite-courses-list" >
                    {% for course in favorite_courses %}
                        <h3>{{ course }}</h3>
                    {% endfor %}
                </div>

      		</div>
            </div>
            </div>
        </div>

</section>
{% endblock %}
{%block javascript %}<!--High CHART LIVE  -->

    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/highcharts-more.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
    <script src="../static/js/profile_page.js"></script>
    <script>
    console.log({{ favorite_courses|safe }})
        let request_list = {}

        {% for req in current_user.friend_requests %}
            request_list["{{req.user_name}}"] = "{{req.full_name}}"
        {% endfor %}


        if (!jQuery.isEmptyObject(request_list)) {
            $('#friend_logo_image')[0].src = "../static/assets/img/friend_request.png"
            for (let username in request_list) {

                let parent = document.getElementById('friends_id')

                let block_to_insert = document.createElement('div')
                block_to_insert.className= "col-container w100 center-content-h"
                block_to_insert.style.height = '50px'
                block_to_insert.innerHTML = request_list[username];

                let friend_link = document.createElement("a");
                friend_link.setAttribute("href","/profile_page/" + username);
                friend_link.innerHTML = username;

                let accept_request = document.createElement("input");
                accept_request.setAttribute("type", "image");
                accept_request.setAttribute("id", username);
                accept_request.setAttribute("class", "post accept_request");
                accept_request.setAttribute("src", "../static/assets/img/check_mark.png");
                accept_request.style.height="100%"

                let decline_request = document.createElement("input");
                decline_request.setAttribute("type", "image");
                decline_request.setAttribute("id", username);
                decline_request.setAttribute("class", "action decline_request");
                decline_request.setAttribute("src", "../static/assets/img/red_cross.jpg");
                decline_request.style.height="100%"

                block_to_insert.appendChild(friend_link)
                block_to_insert.appendChild(accept_request)
                block_to_insert.appendChild(decline_request)

                parent.appendChild(block_to_insert)
            }
        }

        $('.rounds').click(function () {
            player_history = {{ visited_profile.history|tojson }}
            player_history = player_history.slice(Math.max(player_history.length - this.value, 0));
            render_chart(player_history);
        });

        let all_users = {{all_users|tojson|safe}};
        let friends = {}

        {% for friend in visited_profile.friends_list %}
            friends["{{friend.user_name}}"] = "{{friend.full_name}}"
        {% endfor %}

        show_friends()

        $(".action").click(function (){
            $.ajax({
                method: 'delete',
                url: "/profile_page/{{ visited_profile.user_name }}",
                data: {
                    username: this.id,
                    action: this.className
                },
                success: (data) => {
                    alert(this.id + ' ' + data)

                    delete request_list[this.id]

                    if (jQuery.isEmptyObject(request_list)) {
                            $('#friend_logo_image')[0].src = "../static/assets/img/baseline_people_alt_black_24dp.png"
                        }
                },
            })
            $(this).parent().remove();
        })



    </script>
    <script src="../static/js/mystats_chart.js"></script>
    <script src="../static/js/create_scorecard.js"></script>

    <script>

        let player_history = {{ visited_profile.history|tojson }}
        player_history = player_history.slice(Math.max(player_history.length - 20, 0));
        render_chart(player_history);

        $('.post').click(function (){
            $.ajax({
                method: 'post',
                url: "/profile_page/{{ visited_profile.user_name }}",
                data: {
                    id: "{{ visited_profile._id }}",
                    action: this.className,
                    request_username: this.id
                },
                success: (data) => {
                    if (this.id !== 'img1') {
                        alert( this.id + ' ' + data)

                        friends[this.id] = "New pal"
                        delete request_list[this.id]

                        show_friends()

                        if (jQuery.isEmptyObject(request_list)) {
                            $('#friend_logo_image')[0].src = "../static/assets/img/baseline_people_alt_black_24dp.png"
                        }
                    }
                    else {
                        alert('{{ visited_profile.user_name }}' + ' ' + data)
                    }
                },
            })
            $(this).parent().remove()
        });



    </script>
    {% endblock %}
