<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

{% extends "base_logged_in.html" %}

{% block content %}


    <section class="scorecard">
            <!-- Slider main container -->
        <div class="swiper-container" style="height: fit-content">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                {% set j=0 %}
                {% for i in range(round_summary['course_holes'][0] * round_summary.multi + 1) %}
                    {% if i < round_summary['course_holes'][0] * round_summary.multi %}
                        {% if (i - j) >= round_summary['course_holes'][0] %}
                            {% set j = round_summary['course_holes'][0] %}
                        {% endif %}
                <div class="swiper-slide">
                    <section class="scorecard">

                            <!--Hole Info-->
                            <div class="container h10 w-100 center-content-h shadow" style="background-color: aqua">
                                <div class="container h100 center-content" style="background-color: #23c2ff">
                                    <div class="small-text font-weight-bold"> Hole {{ i + 1 }} {% if holes_multi == 2 %} ({{  i + 1 - j }}) {% endif %}</div>
                                </div>
                                <div class="container h100 center-content" style="background-color: #eeeeee">
                                    <div class="small-text font-weight-bold"> Par {{round_summary['course_holes'][i + 1 - j]['Par'] }}</div>
                                </div>
                                <div class="container h100 center-content" style="background-color: purple">
                                    <div class="small-text font-weight-bold"> {{ round_summary['course_holes'][i + 1 - j]['length'] }}m </div>
                                </div>
                            </div>

                            <!--Net & Throws-->
                            <div class="container h05 center-content" style="margin-top: 5px">
                                <div class="col-12 center-content-left">
                                    <div class="col-4 center-content">
                                        <div class="tiny-text center-content">
                                            Expected Throws
                                        </div>
                                    </div>
                                    <div class="col-4 center-content">
                                        <div class="tiny-text center-content">
                                            Actual Throws
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--Player information-->
                            <div class="container h85 top-align no-padding" style="background-color: aquamarine">
                                {% for player in round_summary.players %}
                                    <div class="col-12 h20 center-content-h">
                                        <div class="col-4 center-content">
                                            <div class="small-text center-content">
                                                {{ player.full_name }}
                                            </div>
                                        </div>
                                        <div class="col-4 center-content">
                                            <div class="small-text center-content">
                                                {{ round_summary['course_holes'][i + 1 - j]['Par']|int + player.hcp[i - j]["strokes"] }}
                                            </div>
                                        </div>
                                        <div class="col-4 center-content">
                                            <input class="form-control form-control-sm throws-input" value="{{ player.stats['hole' ~ (i + 1 - j) ~ '_throws'] }}" type="number" placeholder="" style="text-align: center " id="{{ player.user_name }}_{{ i + 1 }}_{{ round_summary.course_holes[i + 1 - j]['Par']}}_{{player.hcp[i - j]['strokes'] }}">
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </section>
                    </div>
                    {% else %}
                         <div class="swiper-slide">
                        <section class="summary">
                           {% set holes_amount = round_summary["course_holes"][0] * round_summary.multi %}
                            {% for i in range(holes_amount//9) %}
                                <table class="table table-striped table-sm">
                                    <thead>
                                        <tr>
                                            <th scope="col">Player</th>
                                            {% for j in range(9) %}
                                                <th scope="col">{{ j + i * 9 + 1 }}</th>
                                            {% endfor %}
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for player in round_summary.players %}
                                            <tr>
                                                <td scope="row">{{ player.user_name }}</td>
                                                {% for j in range(9) %}
                                                    <td id="{{ player.user_name}}{{ j + i * 9 + 1 }}">0</td>
                                                {% endfor %}
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            {% endfor %}
                            <table class="table table-striped table-sm">
                                <thead>
                                    <tr>
                                        <th scope="col">Player</th>
                                        {% for i in range(holes_amount%9) %}
                                            <th scope="col">{{ (i + 1 + 9 * (holes_amount // 9 )) }}</th>
                                        {% endfor %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for player in round_summary.players %}
                                        <tr>
                                            <td scope="row">{{ player.user_name }}</td>
                                            {% for i in range(holes_amount%9) %}
                                                <td id="{{ player.user_name}}{{ (i + 1 + 9 * (holes_amount // 9)) }}">0</td>
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <div class="container w100 center-content-h">
                                <div class="col-4"></div>
                                <div class="col-4">
                                    <div class="tiny-text">Points</div>
                                </div>
                                <div class="col-4">
                                    <div class="tiny-text">Par</div>
                                </div>
                            </div>
                            <hr>
                            {% for player in round_summary.players %}
                                <div class="container w100 center-content-h">
                                    <div class="col-4 center-content-v" style="text-align: left">
                                        <div class="tiny-text" style="padding-left: 10px">{{ player.user_name }}</div>
                                    </div>
                                    <div class="col-4 tiny-text" id="{{ player.user_name }}_points">0</div>
                                    <div class="col-4 tiny-text" id="{{ player.user_name }}_par">0</div>
                                </div>
                                <hr>
                            {% endfor %}
                            <div class="container w100 center-content">
                                <div class="container w70">
                                    <a class="btn btn-primary btn-m w-100 button-text" onclick="submit_scorecards()" style="margin-top: 15px" role="button">Submit Scorecard</a>
                                </div>
                                <div class="container w70">
                                    <a class="btn btn-primary btn-m w-100 button-text" onclick="save_scorecards()" style="margin-top: 15px; margin-bottom: 75px" role="button">Save Scorecard</a>
                                </div>
                            </div>
                        </section>
                    </div>
                    {% endif %}
                {% endfor %}

            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
        </div>
    </section>


{% endblock %}

{% block javascript %}

    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="../static/js/scorecard_play.js"></script>
    <script>
        let player_summary = {{ round_summary | tojson }};
        let check_round = JSON.parse(JSON.stringify(player_summary));


       






    var elements=document.getElementsByClassName("throws-input");
    for (let i = 0; i < elements.length; i++ ){elements[i].addEventListener("input", update_result) }

       

    </script>
{% endblock %}