<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

{% extends "base_logged_in.html" %}

{% block content %}
    <section class="scorecard">
            <!-- Slider main container -->
        <div class="swiper-container">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->

                {% for i in range(course.holes[0] + 1) %}
                    {% if i < course.holes[0] %}

                    <div class="swiper-slide">
                        <section class="scorecard">
                            <!--Hole Info-->
                            <div class="container h10 w-100 center-content-h shadow" style="background-color: aqua">
                                <div class="container h100 center-content" style="background-color: #23c2ff">
                                    <div class="small-text font-weight-bold"> Hole {{ i + 1 }}</div>
                                </div>
                                <div class="container h100 center-content" style="background-color: #eeeeee">
                                    <div class="small-text font-weight-bold"> Par {{course.holes[i + 1]['Par'] }}</div>
                                </div>
                                <div class="container h100 center-content" style="background-color: purple">
                                    <div class="small-text font-weight-bold"> {{ course.holes[i + 1]['length'] }}m </div>
                                </div>
                            </div>

                            <!--Net & Throws-->
                            <div class="container h05 center-content" style="margin-top: 5px">
                                <div class="col-12 center-content-left">
                                    <div class="col-4 center-content">
                                        <div class="tiny-text center-content">
                                            Expected Throws
                                        </div>
                                    </div>
                                    <div class="col-4 center-content">
                                        <div class="tiny-text center-content">
                                            Actual Throws
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--Player information-->
                            <div class="container h85 top-align no-padding" style="background-color: aquamarine">
                                {% for player in players %}
                                    <div class="col-12 h20 center-content-h">
                                        <div class="col-4 center-content">
                                            <div class="small-text center-content">
                                                {{ player.full_name }}
                                            </div>
                                        </div>
                                        <div class="col-4 center-content">
                                            <div class="small-text center-content">
                                                {{ course.holes[i + 1]['Par']|int + player.hcp[i]["strokes"] }}
                                            </div>
                                        </div>
                                        <div class="col-4 center-content">
                                            <input class="form-control form-control-sm" type="number" placeholder="" style="text-align: center">
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </section>
                    </div>
                    {% else %}
                         <div class="swiper-slide">
                        <section class="scorecard">
                            <table class="table table-striped table-sm">
                                <thead>
                                    <tr>
                                        <th scope="col">Player</th>
                                        {% for i in range(1, 10) %}
                                            <th scope="col">{{ i }}</th>
                                        {% endfor %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for player in players %}
                                        <tr>
                                            <td scope="row">{{ player.user_name }}</td>
                                            {% for i in range(1, 10) %}
                                                <td id="{{ player.user_name}}{{ i }} ">0</td>
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% if course.holes[0] > 9 %}
                                <table class="table table-striped table-sm">
                                    <thead>
                                        <tr>
                                            <th scope="col">Player</th>
                                            {% for i in range(course.holes[0] - 8, course.holes[0] + 1) %}
                                                <th scope="col">{{ i }}</th>
                                            {% endfor %}
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for player in players %}
                                            <tr>
                                                <td scope="row">{{ player.user_name }}</td>
                                                {% for i in range(course.holes[0] - 8, course.holes[0] + 1) %}
                                                    <td id="{{ player.user_name}}{{ i }} ">0</td>
                                                {% endfor %}
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            {% endif %}
                                {% for player in players %}
                                    <div class="container w100 center-content-h">
                                        <div class="col-4">{{ player.user_name }}</div>
                                        <div class="col-4" id="{{ player.user_name }}_points">0</div>
                                        <div class="col-4" id="{{ player.user_name }}_par">0</div>
                                        <hr>
                                    </div>
                                {% endfor %}
                        </section>
                    </div>


                    {% endif %}
                {% endfor %}

            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>

        </div>

    </section>

    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="../static/js/scorecard_play.js"></script>

{% endblock %}