{% extends "layout.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='/css/signup.css')}}"/>
{% endblock %}

{% block title %}Sign-up{% endblock %}

{%block content %}
<div class="signup-body">
    <div class="form-panel">
        <div id="form-header">
            <h3>Sign up</h3>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p id="error_msg">{{ message }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        <div id="form-body">
            <form action="/signup" role="form" method="POST">
                {{ form.csrf_token }}
                <div class="text-input-single">{{ form.full_name }}</div>
                <div class="text-input-single">{{ form.user_name }}</div>
                <div class="text-input-single">{{ form.email }}</div>
                <div class="text-input-double">{{ form.password }}<div style="width: 4%"></div>{{ form.confirm_password }}</div>
                <div class="submit-centered">{{ form.submit }}</div>
            </form>
        </div>
    </div>
</div>
{% endblock %}