<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="../static/css/layout.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/testing.css"/>

    <title>testing</title>
</head>
<body>
    <!-- header -->
    <div id="header">
        <!--<a class="header-active" href="#profile">Profile</a>
        <a href="#scorecard">Scorecard</a>
        <a href="#courses">Courses</a>
        <a href="#logout">Logout</a>-->
    </div>
    <!-- Content -->
    <div id="content">
            <div id="courses-container">
                <div id="courses-search">
                    <input id="courses-search-input" type="text" placeholder="Search" style="outline: none; border: black 1px solid; border-radius: 5px;">
                </div>
                <div id="courses-list">
                    <!--<div class="course">
                        <img src="../static/assets/img/placeholder_star_empty.gif" alt="fav" width="30px" height="30px" style="margin: 10px">
                        <div class="course-text"><p>test</p></div>
                    </div>-->
                </div>
            </div>
            <div id="map-container"></div>
    </div>
    <!-- footer -->
    <div id="footer"></div>


<script>
var all_courses = {{ all_courses|safe }}
all_courses.sort((a, b) => {a.toUpperCase();b.toUpperCase();return a > b ? 1 : a < b ? -1 : 0;});
var favorites;

function getFavorites(){
    return $.post(
        "/testing",
        {loading: true},
        (response) => {console.log(response["favorites"]);},
        "json");
}

function setFavorite(course){
    return $.post(
        "/testing",
        {course: course},
        (response) => {console.log(response)},
        "json");
}

getFavorites().done((r) => {
    favorites = r["favorites"];
    autocomplete(document.getElementById("courses-search-input"), all_courses);
    getAllCourses(all_courses);
});

function getAllCourses(arr) {
    var course, icon, courseText, courseName, i;
    var list = document.getElementById("courses-list")
    /*close any already open lists of autocompleted values*/
    emptyCourseList();

    /*for each item in the array...*/
    for (i = 0; i < arr.length; i++) {
        /*create a DIV element for each matching element:*/
        course = document.createElement("DIV");
        course.setAttribute("class", "course");
        list.appendChild(course);

        icon = document.createElement("img");
        if (favorites.includes(arr[i])){
            icon.setAttribute("src", "../static/assets/img/placeholder_star_filled.gif")}
        else {
            icon.setAttribute("src", "../static/assets/img/placeholder_star_empty.gif")}
        icon.setAttribute("alt", "fav");
        icon.setAttribute("width", "30px");
        icon.setAttribute("height", "30px");
        icon.setAttribute("style", "margin: 10px");
        icon.addEventListener("click", updateFavorite)
        course.appendChild(icon);

        courseText = document.createElement("DIV");
        courseText.setAttribute("class", "course-text");
        course.appendChild(courseText);

        courseName = document.createElement("h4");
        courseName.innerHTML = arr[i];
        /*insert a input field that will hold the current array item's value:*/
        courseName.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
        /*execute a function when someone clicks on the item value (DIV element):*/
        courseName.addEventListener("click", function (e) {
            inp.value = this.getElementsByTagName("input")[0].value;
        });
        courseText.appendChild(courseName);
    }
}

function autocomplete(inp, arr) {
    /*execute a function when someone writes in the text field:*/
    inp.addEventListener("input", function() {
        var course, icon, courseText, courseName, i, regex = new RegExp("^"+this.value.toUpperCase());
        var list = document.getElementById("courses-list")
        /*close any already open lists of autocompleted values*/
        emptyCourseList();
        if (!this.value) {
            getAllCourses(arr);
        }
        /*for each item in the array...*/
        for (i = 0; i < arr.length; i++) {
            /*check if the item starts with the same letters as the text field value:*/
            if (arr[i].toUpperCase().match(regex)){
                /*create a DIV element for each matching element:*/
                course = document.createElement("div");
                course.setAttribute("class", "course");
                list.appendChild(course);

                icon = document.createElement("img");
                if (favorites.includes(arr[i])){
                    icon.setAttribute("src", "../static/assets/img/placeholder_star_filled.gif");}
                else {
                    icon.setAttribute("src", "../static/assets/img/placeholder_star_empty.gif");}
                icon.setAttribute("alt", "fav");
                icon.setAttribute("width", "30px");
                icon.setAttribute("height", "30px");
                icon.setAttribute("style", "margin: 10px");
                icon.addEventListener("click", updateFavorite);
                course.appendChild(icon);

                courseText = document.createElement("DIV");
                courseText.setAttribute("class", "course-text");
                course.appendChild(courseText);

                courseName = document.createElement("h4");

                courseName.innerHTML = arr[i];
                /*insert a input field that will hold the current array item's value:*/
                courseName.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
                /*execute a function when someone clicks on the item value (DIV element):*/
                courseName.addEventListener("click", function (e) {
                    inp.value = this.getElementsByTagName("input")[0].value;
                });
                courseText.appendChild(courseName);
            }
        }
    });
}

function emptyCourseList() {
        const x = document.getElementById("courses-list");
        x.innerHTML = "";
        return true
}

function updateFavorite(){
    let course = this.parentNode.getElementsByClassName("course-text")[0].getElementsByTagName("input")[0].value;
    setFavorite(course).done((r1) => {
        getFavorites().done((r2) => {
            favorites = r2["favorites"];
            if (favorites.includes(course)){this.setAttribute("src", "../static/assets/img/placeholder_star_filled.gif");}
            else{this.setAttribute("src", "../static/assets/img/placeholder_star_empty.gif");}
        });
    });
}
</script>
</body>
</html>

