#page-footer {
    background-color: #434242;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

.footer-text {
    font-family: "Franklin Gothic Book", sans-serif;
    color: white;
}

.welcome-page {
    background: url("../assets/img/testing.jpg") no-repeat center center;
    height: 600px;
    width: 100%;
}

section {
    height: 100%;;
    width: 100%;
}
