#page-footer {
    background-color: #434242;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

.footer-text {
    font-family: "Franklin Gothic Book", sans-serif;
    color: white;
}

.welcome-page {
    background-image: url("../assets/img/testing.jpg");
    height: 600px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section {
    height: 100%;;
    width: 100%;
}

.map-container{
overflow:hidden;
height: 100%;
width: 100%;
}
.map-container iframe{
left:0;
top:0;
height:100%;
width:100%;
}

.courses-section {
    background-color: #eeeeee;
    height: 90vh;
    width: 100%;
}

.search-form {
    height: 30vh;
    background-color: #eeeeee;
    display: flex ;
    justify-content: center;
}

.col-search-form {
    width: 80vw;
    height: 100%;
    display: flex ;
    flex-flow: column;

    align-items: center;
    justify-content: center;
}

.content {
    height: 85vh;
    display: flex;
    justify-content: center;
    width: auto;
    margin-top: 15%;
    margin-bottom: -15%;
}


.heading-text { font-size: 2rem; }

@media (min-width: 576px) {
    .heading-text { font-size: 2.25rem; }
}
@media (min-width: 768px) {
    .heading-text { font-size: 2.5rem; }
}
@media (min-width: 992px) {
    .heading-text { font-size: 2.75rem; }
}
@media (min-width: 1200px) {
    .heading-text { font-size: 3rem; }
}

.scorecard {
    background-color: #eeeeee;
    height: 84vh;
    width: 100vw;
}

.center-content-h {
   display: flex;
   justify-content: center;
}

.center-content-v {
   display: flex;
   justify-content: center;
   flex-flow: column;
}

.center-content {
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
}
.h20 {
    height: 20%;
}

.h60 {
   height: 60%;
}

.w100 {
    width: 100%;
}

.medium-text { font-size: 2rem; }

@media (min-width: 576px) {
    .medium-text { font-size: 2.25rem; }
}
@media (min-width: 768px) {
    .medium-text { font-size: 2.5rem; }
}
@media (min-width: 992px) {
    .medium-text { font-size: 2.75rem; }
}
@media (min-width: 1200px) {
    .medium-text { font-size: 3rem; }
}

.player-text {
    margin-top: 25px;
    margin-bottom: 25px;
}

.button-text {
    white-space: nowrap;
}

.h100 {
    height: 100%;
}

.h10 {
    height: 10%;
}

.h05 {
    height: 5%;
}

.w-33 {
    width: 33%;
}

.center-content-left {
    display: flex;
    justify-content: flex-end;
}

.shadow {
    box-shadow: #161515;
}

.h85 {
    height: 85%;
}

.w80 {
    width: 80%;
}

.top-align {
    align-items: flex-start;
    padding-top: 20px;
}

body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: #007aff;
}

* { box-sizing: border-box; }
body {
  font: 16px Arial;
}
.autocomplete {

  position: relative;
  display: inline-block;
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}
input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
}
.autocomplete-items {
  width: 100%;
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;

  top: 100%;
  left: 0;
  right: 0;

}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {

  background-color: #e9e9e9;
}
.autocomplete-active {

  background-color: DodgerBlue !important;
  color: #ffffff;
}

.tiny-text {
    font-size: 12px;
}

.no-padding {
    padding: 0
}

hr {
    width: 80%;
    background-color: #d5d5d9;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.w70 {
    width: 70%;
}

.show-login {
    transition: 1s ease;
    max-height: 1px;
    opacity: 0.1;
}
