#page-footer {
    background-color: #434242;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

.footer-text {
    font-family: "Franklin Gothic Book", sans-serif;
    color: white;
}

.welcome-page {
    background-image: url("../assets/img/testing.jpg");
    height: 600px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section {
    height: 100%;;
    width: 100%;
}

.map-container{
overflow:hidden;
height: 100%;
width: 100%;
}
.map-container iframe{
left:0;
top:0;
height:100%;
width:100%;
}

.courses-section {
    background-color: #eeeeee;
    height: 90vh;
    width: 100%;
}

.search-form {
    height: 30vh;
    background-color: #eeeeee;
    display: flex ;
    justify-content: center;
}

.col-search-form {
    width: 80vw;
    height: 100%;
    display: flex ;
    flex-flow: column;

    align-items: center;
    justify-content: center;
}

#content {
    height: 500px;
    width: auto;
}


.heading-text { font-size: 2rem; }

@media (min-width: 576px) {
    .heading-text { font-size: 2.25rem; }
}
@media (min-width: 768px) {
    .heading-text { font-size: 2.5rem; }
}
@media (min-width: 992px) {
    .heading-text { font-size: 2.75rem; }
}
@media (min-width: 1200px) {
    .heading-text { font-size: 3rem; }
}

.scorecard {
    background-color: #eeeeee;
    height: 95vh;
    width: 100vw;
}

.center-content-h {
   display: flex;
   justify-content: center;
}

.center-content-v {
   display: flex;
   justify-content: center;
   flex-flow: column;
}

.center-content {
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
}
.h20 {
    height: 20%;
}

.h60 {
   height: 60%;
}

.w100 {
    width: 100%;
}

.medium-text { font-size: 2rem; }

@media (min-width: 576px) {
    .medium-text { font-size: 2.25rem; }
}
@media (min-width: 768px) {
    .medium-text { font-size: 2.5rem; }
}
@media (min-width: 992px) {
    .medium-text { font-size: 2.75rem; }
}
@media (min-width: 1200px) {
    .medium-text { font-size: 3rem; }
}

.player-text {
    margin-top: 25px;
    margin-bottom: 25px;
}

.button-text {
    white-space: nowrap;
}

.h100 {
    height: 100%;
}

.h10 {
    height: 10%;
}

.h05 {
    height: 5%;
}

.w-33 {
    width: 33%;
}

.center-content-left {
    display: flex;
    justify-content: flex-end;
}

.shadow {
    box-shadow: #161515;
}

.h85 {
    height: 85%;
}

.w80 {
    width: 80%;
}

.top-align {
    align-items: flex-start;
    padding-top: 20px;
}
