.signup-body{
    background-image: url("../assets/img/bgdg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.form-panel{
    width: 35%;
    padding: 20px;
    background-image: linear-gradient(#031b4d, #026670);
    border-radius: 20px;
    height: fit-content;
    margin: 0 auto;
}

#form-header{
    text-align: center;
    color: white;
}

#form-body{
    width: 100%;
    display:flex;
    justify-content: center;
}

.text-input-single{
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.text-input-single>input{
    width: 90%;
    border: #026670 1px solid;
    border-radius: 5px;
}

.text-input-double{
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.text-input-double>input{
    width: 43%;
    border: #026670 1px solid;
    border-radius: 5px;
}

.submit-centered{
    display: flex;
    justify-content: center;
}

.submit-centered>input{
    width: 30%;
    border-radius: 5px;
    background-color: #038a96;
}

@media screen and (min-width: 0px) and (max-width: 799px) {
    .form-panel{width: 90%}
}